.egege {
    min-height: 700px;
    background-color: aquamarine;
}
.doctors {
    min-height: 700px;
}
/*-------------------------------------*/
.section-rev-list {
    padding: 0 50px;
    margin-bottom: 20px;
}
.feedback-main__rating{
    font-weight: 500;
    margin-top: 7px;
    font-style: italic;
}
/*--------------------------------------------*/
.review-form-title {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.review-form-container {
    border: 1px solid red;
}
.review-form {
   border: 1px solid rgb(255, 94, 0);
   display: flex;
   flex-direction: column; 
   max-width: 860px;
   margin: 0 auto;
}
.review-form--inpt {
    border: 1px solid green;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
}
.review-form--inpt .form-elem {
    background-color: white;
    color: black;
    font-size: 0.9rem;
    width: 100%;
}
.review-form--inpt .form-elem::placeholder {
    color: black;
    opacity: 0.8;
    font-size: 0.9rem;
}
.review-form--bt>.form-elem.button {
    color: white;
    background-color: var(--main-color);
    font-weight: 700;
    position: static;
    max-width: 150px;
    box-shadow: 0 5px 17px rgba(0,0,0,.15);
}