.section-stocks-feedback {
    display: block;
    padding: 30px 10px;
    position: relative;
}  
.section-stocks-feedback__content{
    display: block;
    max-width: 1150px;
    margin: auto;
}   
.section-stocks-feedback__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}   
.stocks{
    flex:60%;
    padding: 0 10px;
}
.stocks-head, .feedback-head {
    margin-bottom: 5px;
}  
.stocks-head__row, .feedback-head__row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
}
.stocks-head__title,  .feedback-head__title {
    font-size: 2.6rem;
    line-height: 1.3;
    padding: 10px 15px;
    margin-left: -10px;
}
.stocks-link, .feedback-link {
    color: var(--main-color);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2rem;
}
.stocks-link:after, .feedback-link:after {
    content: '\2794';
    position: relative;
    margin-left: 8px;
    display: inline-block;
    width: 19px;
    height: 11px;
    top:2px;
}

.cards__row {
    display: flex;
    flex-wrap: wrap;
    margin-left:-10px;
}
.cards-col {
    flex: 0 0 50%;
    max-width: 50%;
}
.cards-col a{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap:10px;
    margin: 0 auto;
    background-color: rgba(220, 220, 220, 0.5);
    text-decoration: none;
    transition: 0.3s ease;
}
.cards-col a:focus,.cards-col a:hover {
    background: #fff;
    box-shadow: 0 4px 22px rgba(0,0,0,.07);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}
.cards-img {
    position: relative;
    min-height: 200px;
}
.cards-img img {
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cards-description {
    padding: 22px 25px 35px 25px;
}
.description__title {
    display: block;
    margin-bottom: 15px;
    color:black;
    font-size: 1.2rem;
    line-height: 1.2;
    transition: 0.3s;
}
.cards-col a:focus .description__title,
.cards-col a:hover .description__title {
    color: var(--main-color);
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(76,183,202,.6);
    text-decoration-color: rgba(76,183,202,.6)
}
.description__text{ 
    font-size: 1rem;
    line-height: 1.8;
    color: var(--middle-opacity-black-color);
}
/*--------------------------------------------------------------*/
.feedback {
    flex:40%;
    padding: 0 10px;
}
.feedback-main {
}
.feedback-main__row{
    display: flex;
    flex-direction: column;
}
.feedback-main-content {
    padding: 10px 20px 20px 0px;
    background-color: white;
}
.feedback-main-content:not(:last-child) {
    border-bottom: 1px solid rgba(150, 150, 150, 0.6);
}

.feedback-main__name{
    font-size: 1.4rem;
    color:black;
    line-height: 1.2;
    margin-bottom: 8px;
}
.feedback-main__text {
    font-size: 1rem;
    color:var(--low-opacity-black-color);
    line-height: 1.5;
    font-style: italic;
}