.section-form {
    background-color:var(--main-color);
    position: relative;
    width: 120%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.section-form-content {
    padding: 20px 25px;
    min-width: 860px;
    margin: auto;
    border: 1px solid blue;
}
.section-form__head {
    width: 100%;
    border: 1px solid red;
}
.head__title {
    color: white;
    font-size: 2.2rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 2px rgba(248,248,248,1);
    text-align: center;
    margin-bottom: 25px;
}
.head__subtitle {
    color: white;
    opacity: 0.8;
    font-size: 1rem;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
}
/*---------------------------------------------------------*/
.section-form__body {
    width: 100%;
    border: 1px solid white;
    padding: 10px;
}
.body__content {
    width: 100%;
    position: relative;

}
.feedback-form {
    border-radius: 25px;
    border: 1px solid white;
}
/*--------------------------------------------------------*/
.feedback-form {
    display: flex;
    flex-wrap: wrap;
}
.form-elem-containter {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    
}
.form-elem-containter--bt {
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    justify-content: flex-end;
}
.form-elem-containter--inpt {
    position: relative;
    flex: 0 0 25%;
    display: flex;
    align-items: center;
}
.form-elem-containter--inpt::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    top:8px;
    bottom: 8px;
    left: 2px;
    background-color: white;
}
.form-elem, .pseudo-select {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    width: 100%;
}
.pseudo-select {
    position: relative;
    
}/*-------------------------------------------------------------*/
.form-elem  {
    padding: 12px 15px;
    font-size: 0.9rem;
    
}
.real-select {
    display: block;
    background-color: transparent;
    width: 1px;
    height: 1px;
    top:0; 
    left:0;
}
.form-elem::placeholder {
    color: white;
    opacity: 0.8;
    font-size: 0.9rem;
}
.form-elem.button {
    padding: 13px 35px;
    color: var(--main-color-full);
    background-color: white;
    font-weight: 700;
    position: absolute;
    max-width: 160px;
    right: -1px;
    box-shadow: 0 5px 17px rgba(0,0,0,.15);;
}
.form-elem.button:hover {
    color: white;
    background-color: var(--main-color-full);
}
/*----------------pseudo-select__drop--------------------------------------*/
.pseudo-select__drop.yes {
    display: block;
    position: absolute;
    top:100%;
    left: -2px;
    background-color: white;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    right: -1px;
    z-index: 10;
}
.pseudo-select__drop.none {
    display: none;
}
.pseudo-select__item{
    display: block;
    position: relative;
    z-index: 100;
    font-size: 0.9rem;
    padding: 18px 35px 18px 15px;
    color:var(--middle-opacity-black-color);
    cursor: pointer;
    white-space: wrap;
    transition: 0.3s;

}
.pseudo-select__item:last-child {
    padding: 18px 35px 24px 15px;
}
.pseudo-select__item:first-child {
    cursor: default;
    opacity: 0.5;
    user-select: none;
}
.pseudo-select__item:hover:not(:first-child) {
    color: var(--main-color-full);
    background-color: rgb(219, 217, 217);
}
.pseudo-select__toggle {
    width: 100%;
    padding: 12px 15px;
    background-color: transparent;
    text-align: left;

}
.pseudo-select__toggle span {
    color: white;
    opacity: 0.8;
    font-size: 0.9rem;
}
.invalid{
    position: relative;
  }
.invalid::after {
    content: '?';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform: translateX(-50%);
    right:5%;
    color:rgba(194, 28, 28, 0.6);;
    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;
}  
/*------------------------------------------------*/
@media screen and (max-width: 860px){
	.section-form-content  {
        min-width: auto;
        width: 84%;
	}
    .form-elem.button {
        max-width: 150px;
    }
    .form-elem-containter,
    .form-elem-containter--inpt {
        flex: 0 0 27%;
    }
    .form-elem-containter--bt {
        flex: 0 0 19%;
    }
    .head__title {
        font-size: 2rem;
        letter-spacing: 3px;
    }
    .head__subtitle {
        font-size: 0.95rem;
    }
}
@media screen and (max-width: 796px){
    .section-form-content {
        display: flex;
        flex-direction: column;
        min-width: auto;
        width: auto;
        max-width: 84%;
        padding: 20px 20px;
    }
    .feedback-form {
        border: none;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
	.form-elem-containter, .form-elem-containter--bt, 
    .form-elem-containter--inpt  {
		flex:0 0 48%;
        border-radius: 25px;
        justify-content: center;
        border: 1px solid white;
	}
    .form-elem-containter.invalid, .form-elem-containter--bt.invalid, 
    .form-elem-containter--inpt.invalid {
        border: 1px solid red;
    }
    .form-elem-containter.openbord {
        border-radius: 25px 25px 0 0;
    }
    .form-elem-containter--bt {
        border: none;
    }
    .form-elem-containter--inpt::before {
        display: none;
    }
    .form-elem.button {
        position: static;
        max-width: none;
    }
    .head__title {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }
    .head__subtitle {
        margin-bottom: 20px;
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 576px){
    .section-form-content {
        padding: 0;
    }
    .feedback-form {
        gap: 15px;
    }
    .form-elem-containter, .form-elem-containter--bt, 
    .form-elem-containter--inpt  {
		flex:0 0 100%;
	}
    .head__title {
        margin-bottom: 15px;
        font-size: 1.6rem;
        letter-spacing: 1px;
        text-shadow: none;
    }
    .head__subtitle {
        margin-bottom: 10px;
        font-size: 0.75rem;
    }
}
